<%= stylesheet_link_tag "articlesIndex.css" %>


<body>
<div id = "containerIndex">

<h1 class="mainTitle">Listing Articles</h1>
  
  <% if(!current_user.nil? and (current_user.admin == true or current_user.authorized== true)) %>
  <tr>
  <th ><h2></h2></th>
  <th><h2></h2></th> 
    <th><h2></h2></th> 
    <th><h2></h2></th>

  <th colspan="4"><button id="newArticleButton" ><%= link_to 'New article', new_article_path %></button></th>
  </tr>
<%end%>


<form class="getCateg" align="middle">
<%= select_tag("category", options_for_select([["Select Category",""],["All",""], ["Test", "test"], ["Urgent", "urgent"], ["Announcement", "announcement"]]), {:class => 'form-control'}) %>
<input type="submit" value="Filter" />

</form>



>>>>>>> origin/HomePage


<table class="articlesTable" style = "width:100%">
  



  <tr>
  <th id="imgColm"><h2></h2></th>
  <th><h2>Author</h2></th> 
    <th><h2>Title</h2></th> 
    <th><h2>Category</h2></th>

  <th colspan="4"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
    <td id="imgRow"><img id="authorPic" src="<%= User.find(article.user_id).profilePicture %>" height="40" width="40"></td>
    <td id="authorName"><center> <%= User.find(article.user_id).fisrt_name %> <%=User.find(article.user_id).last_name %></center></td>
      <td id="articleTitle"><center><%= article.title %></center></td>
	    <td id="articleCategory"><center><%= article.category %></center></td>

      

      <% if(!current_user.nil? and current_user.admin == true) %>
      <td id="show"><%= link_to 'Show', article_path(article) %></td>
        <td id="edit"><%= link_to 'Edit', edit_article_path(article) %></td>

        <td id="destroy"><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this article?' } %></td>

      
      <%else%>
          <td id="show"></td>
          <td id="show"><%= link_to 'Show', article_path(article) %></td>
          <td id="show"> </td>
      <%end%>

    </tr>
  <% end %>
</table>
</div>
</body>
<div id="footer"></div>



   
