<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path %>
<table style = "width:100%">
  <tr>
    <th><h2>Title</h2></th>
    <th><h2>Text</h2></th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><center><%= article.title %></center></td>
      <td><center><%= article.text %></center></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this article?' } %></td>
    </tr>
  <% end %>
</table>