<%= stylesheet_link_tag "myArticle.css" %>
<script type="text/javascript">
			function showReply(comid) {
			document.getElementById(comid).style.display = "inline";
			return true;
			}
		</script>
<div class="myArticleBody">		
<div style="text-align: right;"><%= social_share_button_tag("") %></div>
<p>
  <div class="articleTitle"><img id="authorIMG" src="<%=User.find_by_id(@article.user_id).profilePicture%>" width="45" height="45"><br><h1><%= @article.title %><h1></div>
</p>
 <br>

<!-- <%= image_tag @article.image_url.to_s %> -->
<!-- <%= @article.image_url.to_s %> -->
<div class="myboxarticles">
<p>
  <label><%= auto_html(@article.text) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %></label>
  <br>
</p>
</div>


<% @article.comments.each do |comment| %>
 <div class="myboxcomments">
  <p>
	<h2>Comment:</h2>
	<br>
	<label style="text-align: left;"><%= auto_html(comment.body) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %></label>
  </p>
  
  
  <p>

	<%= button_to('delete comment', [comment.article, comment], {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
  </p>
    <% if !comment.nil? %>
     <% comment.replies.each do |reply| %>
 
			<label style="text-align: left;"><%= auto_html(reply.body) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %></label>
	  <p>
	  <%= button_to('delete reply', [reply.comment, reply], {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
      </p>
	  <% end %>
    <% end %>
		 <input onclick="showReply('reply<%= comment.id %>')" type="button" value="Add a reply"/>
		 
		 <div id="reply<%= comment.id %>" style="display: none">
        <%= form_for([comment, comment.replies.build]) do |f| %>
            <p>
				<%= f.label :body %><br>
				<%= f.text_area :body %>
            </p>
            
  
            <p>
				<%= f.submit %>
            </p>

      <% end %>
	  </div>
</div>	  
<% end %>

<h2>Add a comment:</h2>
<div class="myboxcomments">
<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    
	<%= f.label :body %><br>
	<%= f.text_area :body %>
  </p>
  
  <p>
	<%= f.submit %>
  </p>
<% end %>
</div>


</div>
<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>
<%= link_to 'Back', articles_path %>



