<script type="text/javascript">
			function showReply(comid) {
			document.getElementById(comid).style.display = "inline";
			return true;
			}
		</script>
<p>
  <h1><img src="<%= @article.image %>" width="" height=""><%= @article.title %></h1>
</p>
 

<!-- <%= image_tag @article.image_url.to_s %> -->
<!-- <%= @article.image_url.to_s %> -->

<p>
  <%= auto_html(@article.text) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %>
  <br>

</p>

<p>
  <%= social_share_button_tag("") %>
  <br>
</p>

<h2>Comments</h2>
<% @article.comments.each do |comment| %>
 
  <p>
	<h2>Comment:</h2>
	<%= auto_html(comment.body) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %>
  </p>
  
  <p>

  </p>
  
  <p>

	<%= button_to('delete comment', [comment.article, comment], {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
  </p>
    <% if !comment.nil? %>
     <% comment.replies.each do |reply| %>
 
        <p>
			<h3>reply:</h3>
			<%= auto_html(reply.body) { simple_format; image; youtube(:width => 400, :height => 250, :autoplay => false) } %>
        </p>
      <p>
          
      </p>
	  <p>
	  <%= button_to('delete reply', [reply.comment, reply], {:onclick => "return confirm('Are you sure?')", :method => :delete}) %>
      </p>
	  <% end %>
    <% end %>
		 <input onclick="showReply('reply<%= comment.id %>')" type="button" value="Add a reply"/>
		 
		 <div id="reply<%= comment.id %>" style="display: none">
        <%= form_for([comment, comment.replies.build]) do |f| %>
            <p>
				<%= f.label :body %><br>
				<%= f.text_area :body %>
            </p>
            
  
            <p>
				<%= f.submit %>
            </p>

      <% end %>
	  </div>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    
	<%= f.label :body %><br>
	<%= f.text_area :body %>
  </p>
  
  <p>
	<%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit Article', edit_article_path(@article) %> |
<%= link_to 'Back to Articles', articles_path %>
<%= link_to 'Back', articles_path %>



