
<%= stylesheet_link_tag 'main.css' %>

<div class="profile">
<div class="profile-picture">
<% if(@user.profilePicture_url.to_s == "") %>
<img src="/assets/default.jpg">
<%else%>
<a href="<%= @user.profilePicture_url.to_s %>">
<img src="<%= @user.profilePicture_url.to_s %>">
</a>
<%end%>
</div>
<h4>
  <%= @user.fisrt_name %>
  <%= @user.last_name %>
</h4>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Signature:</strong>
  <%= @user.signature %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %></p>

