<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag href="homapagestyle.css" %>
<%= javascript_include_tag 'Welcome.js'%>
<%= stylesheet_link_tag  href="component.css" %>
   
<%= javascript_include_tag 'TweenLite.min.js'%>
        <%= javascript_include_tag 'EasePack.min.js'%>
        <%= javascript_include_tag 'rAF.js'%>
        <%= javascript_include_tag 'demo-1.js'%>
               

 

  <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/85282813&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true" class="hidden" >
  </iframe>
  

<body id="top">
        <header id="home">
          
          <section class="hero" id="hero">
            <div class="container">
              <div class="row">
                  <div id="large-header" class="large-header">
                    <canvas id="demo-canvas"></canvas>
                </div>
                 <div class="col-md-8 col-md-offset-2 text-center inner">
                  <h1 class="animated fadeInDown">Lock-<span>n</span>-Code</h1>
                  <p class="animated fadeInUp delay-05s">A evolutionary new Web Design Company</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="articles#index" class="learn-more-btn">Visit our article</a>
                </div>
              </div>
            </div>
               <!-- /container -->
        
          </section>
        </header>

        <section class="features text-center section-padding" id="features">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Love what you do, and you'll do it well</h1>
                <p>we love working as software engineers</p>
              </div>
            </div>
          </div>
      </div>
        </section>
       
        <section class="swag text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h1>I got 99 Problems<span>but <em>design</em> 'aint one</span></h1>
                <a href="#top" class="down-arrow-btn" class="disabled"><i class="fa fa-chevron-down"></i></a>
              </div>
            </div>
          </div>
        </section>
        <section class="portfolio text-center section-padding" id="portfolio">
          <h1 class="arrow" >Our vision is clear</h1>
          <p>Kill all lalas</p>
        </section>
        <div class="ignite-cta text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <a href="http://bit.ly/1zMKmr3" class="ignite-btn">Ignite Your Passion</a>
              </div>
            </div>
          </div>
        </div>
<h1 class="arrow"style="background:#2E757A;">Our amazing team</h1>
       
  <section id="myCarousel" class="carousel slide">
    <style scoped>

    .carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}
#myCarousel{
    background: #fff;
    height: 600px;
}
/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

footer {
    margin: 50px 0;
}
ol{
    position: relative;
    top: 95%;
}
.col-md-4{
    text-align: center;
    height: 75%;
    position: relative;
    top: 30%
}

body{
  background:#2E757A;
}
    </style>

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner" >
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">
                      <div class="col-md-4">
                        <a href="/static_pages/doola"><img src="<%= asset_path('doola.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Ahmed Adel</h2>
                        <p>el scrum master جعان</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                       <a href="/static_pages/hagin"> <img src="<%= asset_path('hagin.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;"class="Team"></a>
                        <h2>Omar ELHagin</h2>
                        <p>Verbally Constipated</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                       <a href="/static_pages/khalid"> <img src="<%= asset_path('sheikh.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Khaled ElSheikh</h2>
                        <p>‏‏‏‏أنا الوزير..أنا الوزير يا ولاد الكلب....</p>
                      </div>
                    </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">  
                      <div class="col-md-4">
                        <a href="/static_pages/amira"><img src="<%= asset_path('amira.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Amira ElEwady</h2>
                        <p>a computer Engineering student at the German University in Cairo.
Reading is my passion.Love traveling.
If you can see it in your mind, You can hold it in your hands.</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                        <a href="/static_pages/menna"><img src="<%= asset_path('menna.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Menna ElSayed</h2>
                        <p>IAMBATMAN!!!</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                        <a href="/static_pages/rania"><img src="<%= asset_path('rania.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Rania A. Monem</h2>
                        <p>Studying Computer Science at the GUC. Perfectionist. Satisfaction is what I'm looking for. One day you'll read my bio on Wikipedia.</p>
                      </div>
                    </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background:#2E757A;">  
                      <div class="col-md-4">
                        <a href="/static_pages/omar"><img src="<%= asset_path('OmarAdel.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Omar Adel</h2>
                        <p>Craziness is Like Heaven</p>
                      </div>
                      
                      <div class="col-md-4 delay-05s">
                       <a href="/static_pages/kareem"> <img src="<%= asset_path('kareem.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;"  class="Team"></a>
                        <h2>Kareem Fathi</h2>
                        <p>Give me Food ,I give you Code .</p>
                      </div>
                      <div class="col-md-4 delay-1s">
                        <a href="/static_pages/hossam"><img src="<%= asset_path('hossam.jpg') %>" style=" border-radius: 100px; width:100px; height:100px;" class="Team"></a>
                        <h2>Hossam Hazem</h2>
                        <p> ايييييييييه........دنيا</p>
                      </div>
                    </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </section>




        <section class="subscribe text-center">
          <div class="container">
            <h1><i class="fa fa-paper-plane"></i><span>Subscribe to stay in the loop</span></h1>
            <form action="#">
              <input type="text" name="" value="" placeholder="Email us" required>
              <input type="submit" name="" value="Send">
            </form>
          </div>
        </section>
        <section class="dark-bg text-center section-padding contact-wrap" id="contact">
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Drop us a line</h1>
              </div>
            </div>
            <div class="row contact-details">
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                  <p>23, Company ,ELrehab</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                  <p>+20 1023 257 956</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="light-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="#">lock.n.code.se@gmail.com</a></p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="https://www.facebook.com/pages/Lock-N-Code/1084415398251072" class="social-btn"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="https://twitter.com/Lock_N_Code" class="social-btn"><i class="fa fa-twitter"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <ul class="legals">
                  <li><a href="#">Terms &amp; Conditions</a></li>
                  <li><a href="#">Legals</a></li>
                </ul>
              </div>
              <div class="col-md-6 credit">
                <p>Designed &amp; Developed by <a>Lock-n-Code</a></p>
              </div>
            </div>
          </div>
        </footer>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      </body>
 
