<%= stylesheet_link_tag 'users' %>
<h1>Log In</h1>
<%= form_tag sessions_path, :class => 'cd-form' do %>
	<p class="fieldset">
		<%= label_tag :email, nil, class: 'image-replace2 cd-email label-header' %>
		<%= text_field_tag :email, params[:email], class: 'has-padding has-border', id: 'signup-email', placeholder: 'E-mail' %>
	</p>
	<p class="fieldset">
		<%= label_tag :password, nil, class: 'image-replace2 cd-password label-header' %>
		<%= password_field_tag :password, nil, class: 'has-padding has-border', id: 'signup-password', placeholder: 'Password' %>

	</p>
	<br>
	<%= submit_tag nil, class: 'submit-button input-me' %>
	<% end %>

	<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	<% end %>
	<%= yield%>



