<%= form_for @user, html: {class: 'cd-form'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="fieldset">
    <%= f.label :fisrt_name %><br>
    <%= f.text_field :fisrt_name %>
  </p>
  <p class="fieldset">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </p>
  <p class="fieldset">
    <%= f.label :email, :class => "image-replace cd-email", 'for' => 'signup-email' %><br>
    <%= f.text_field :email, :class => "has-padding has-border", 'id' => 'signup-email', 'placeholder' => 'E-mail' %>
  </p>
  <p class="fieldset">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p class="fieldset">
    <%= f.label :signature %><br>
    <%= f.text_area :signature, size: "24x4" %>
  </p>
  <%= f.file_field :profilePicture %>
  <div class="actions">
    <%= f.submit %>
</div>
<% end %>
