<p id="notice"><%= notice %></p>
<div class="profile">
<div class="profile-picture">
<p id="notice"><%= notice %></p>
<a href="<%= @user.profilePicture_url.to_s %>">
<img src="<%= @user.profilePicture_url.to_s %>">
</a>
</div>
<h4>
  <%= @user.fisrt_name %>
  <%= @user.last_name %>
</h4>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <strong>Signature:</strong>
  <%= @user.signature %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %></p>
</div>
