<h1>Lock-n-Code</h1>

<<<<<<< HEAD
<%= link_to 'Homepage', controller: 'articles' %>
<%= link_to 'Sign Up', 'users/new' %>
<%= link_to 'log in', 'sessions/new' %>
=======
<%= link_to 'Articles', controller: 'articles' %>
<%= link_to 'Sign Up', controller: 'users' %>
<%= link_to 'Login', 'sessions/new' %>
>>>>>>> FETCH_HEAD
