<%= stylesheet_link_tag 'application' %>
<%= stylesheet_link_tag 'homapagestyle.css' %>

<div id = "containerIndexH">

    <div id="container">
            
            <p style="font-size:20px;font-style: italic;width: 705px;border-radius: 20px;border: #333 solid 4px;padding: 10px;">	Social networks allows users to take different types of actions to submit their content , this points for the need of a centralized place to be able to handle all the user’s actions , and with users increasing daily , this has become a central feature, el menus has become a social network for food lovers as lots of user contents is being released daily , therefore the idea of a news feed  for food lovers has been brought up for users to be able to browse through the activities of their food loving friends and fellow foodies. </p>
			<br>

            <ul class="slides">
                <li class="first" id="slide-1">
                <div class="res">
                    welcome pic
                               
                         
                        
                </div>
                </li>
                <% if !(Article.order("created_at").first == nil)  %>
            <li id="slide-2">
                <div class="res">
                    <img id="artImg" src="<%= User.find(Article.order("created_at").first.user_id).profilePicture %>"><span id="authorName">
                        
                        <%= User.find(Article.order("created_at").first.user_id).fisrt_name %> <%= User.find(Article.order("created_at").first.user_id).last_name %>
                    </span>
                    </br>
                        <p id="articleTitle"><%= Article.order("created_at").first.title %></p>
                        <p id="articleBody"><%= Article.order("created_at").first.text.split(" ").first(73).join(" ") %>.... <a href="<%=article_path(Article.order("created_at").first) %>">Continue reading</a> </br></br>
                        
                                 
                        </p> 
                               
                         
                        
                </div>
            </li>
                <% end %>

                <% if !(Article.order("created_at").second == nil)  %>
                <li id="slide-3">
                <div class="res">
                    <img id="artImg" src="<%= User.find(Article.order("created_at").second.user_id).profilePicture %>"><span id="authorName">
                        
                        <%= User.find(Article.order("created_at").second.user_id).fisrt_name %> <%= User.find(Article.order("created_at").second.user_id).last_name %>
                    </span>
                    </br>
                        <p id="articleTitle"><%= Article.order("created_at").second.title %></p>
                        <p id="articleBody"><%= Article.order("created_at").second.text.split(" ").first(73).join(" ") %>.... <a href="<%=article_path(Article.order("created_at").second) %>">Continue reading</a> </br></br>
                        
                                 
                        </p> 
                               
                         
                        
                </div>
            </li>
            <%end%>

            <% if !(Article.order("created_at").third == nil)  %>
            <li id="slide-4">
                <div class="res">
                    <img id="artImg" src="<%= User.find(Article.order("created_at").third.user_id).profilePicture %>"><span id="authorName">
                        
                        <%= User.find(Article.order("created_at").third.user_id).fisrt_name %> <%= User.find(Article.order("created_at").third.user_id).last_name %>
                    </span>
                    </br>
                        <p id="articleTitle"><%= Article.order("created_at").third.title %></p>
                        <p id="articleBody"><%= Article.order("created_at").third.text.split(" ").first(73).join(" ") %>.... <a href="<%=article_path(Article.order("created_at").third) %>">Continue reading</a> </br></br>
                        
                                 
                        </p> 
                               
                         
                        
                </div>
            </li>
                <%end%>

            </ul>

            <ul class="thumbs">
                <li><a href="#slide-1"><button></button></a></li>
                <% if !(Article.order("created_at").first == nil)  %>
                <li><a href="#slide-2"><button></button></a></li>
                <%end%>
                <% if !(Article.order("created_at").second == nil)  %>
                <li><a href="#slide-3"><button></button></a></li>
                <%end%>
                <% if !(Article.order("created_at").third == nil)  %>
                <li><a href="#slide-4"><button></button></a></li>
                <%end%>
                
            </ul>
		<div style="text-align: right;">
		<a href="articles">View all articles</a>
		</div>

        </div>
		



</div>

<div id="footer"></div>




