<!DOCTYPE html>
<html>
<head>
  <title>LockBlog</title>
  <!-- <%= stylesheet_link_tag	 'reset.css', 'data-turbolinks-track' => true %> -->
  <link rel="stylesheet" type="text/css" href="reset.css">
  <%= stylesheet_link_tag	 'http://fonts.googleapis.com/css?family=PT+Sans:400,700', 'data-turbolinks-track' => true %>
  <!-- <%= stylesheet_link_tag	 'style.css', 'data-turbolinks-track' => true %> -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %> -->
  <link rel="stylesheet" type="text/css" href="application.css">
  <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  -->
  <script type="text/javascript" src="application.js"></script>
  <%= javascript_include_tag 'modernizr.js', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header role="banner">
		<div id="cd-logo"><%= link_to(image_tag("bullet.png", :alt => "Logo", :class => 'img-header'), '/') %></div>

		<nav class="main-nav">
			<ul class="ul-header">
				<li class="li-header"><% if(!session[:user_id]) then %><%= link_to('Log in', '/log_in', :class => "cd-signin a-header") %><% else %><p style="color: #2E757A"><a style="color: #2E757A" href="/users/<%= session[:user_id]%>"><%= User.find(session[:user_id]).fisrt_name %></a></p><% end %></li>
				<li class="li-header"><% if(!session[:user_id]) then %><%= link_to('Sign up', '/sign_up', :class => "cd-signup a-header") %><% else %><%= link_to('Log out', '/log_out', :class => "cd-signup a-header") %><% end %></li>
			</ul>
		</nav>
	</header>
<%= yield %>
</body>
</html>